#!/usr/bin/make -f
	
export PYTHONPATH=$(CURDIR)

%:
	dh $@ --buildsystem python_distutils --with python2

override_dh_auto_install:
	dh_auto_install
	set -e; for i in `pyversions -rv`; do\
		mkdir -p debian/python-flask/usr/lib/python$$i/dist-packages/flaskext;\
		touch debian/python-flask/usr/lib/python$$i/dist-packages/flaskext/__init__.py;\
	done

build:
	dh build

#dh_auto_build is invoking tests only (see Makefile)
override_dh_auto_build:
override_dh_auto_test:

clean:
	dh clean
	rm -rf Flask.egg-info/ build
	find . \( -name '*.py[co]' -or -name '\._*' -or -name '\.DS_Store' \) -delete
